# This is the configuration file for the OAuth2 Proxy.
# The proxy uses Google as the OAuth2 provider which allows us
# to limit access to starcycle.ai email addresses.

# This can be expanded to include other email domains or providers.
# Or a more dynamic configuration can be implemented at the 
# application level once a user management system is in place.
provider = "google"
client_id = "43224685666-t3jt5n4u875euqq5cridfmu8mmt4f47l.apps.googleusercontent.com"
client_secret = "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"
email_domains = ["starcycle.ai"]
cookie_secret = "4J6J5gV9R6gQ3QvKb7zW3YpYQ5mX2YfO8QZ1H7uA9T0="
upstreams = ["http://127.0.0.1:8888"]
http_address = "0.0.0.0:4180"
redirect_url = "https://knowledge-graph-frontend-43224685666.us-central1.run.app/oauth2/callback"
oidc_issuer_url = "https://accounts.google.com"
cookie_secure = false
cookie_path = "/"